In [20]:
for i in range(-100,10,5):
    print(i)

-100
-95
-90
-85
-80
-75
-70
-65
-60
-55
-50
-45
-40
-35
-30
-25
-20
-15
-10
-5
0
5
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [21]:
for i in range(5):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!

In [22]:
for i in range(1,13,2):
    print(i)

1
3
5
7
9
11

# Looping through dictionary

In [23]:
Fruits_List=["apple","bannana","cherry"]
for fruit in Fruits_List:
    print(fruit)

apple
bannana
cherry

In [25]:
student={"name":"Osandha","age":15,"grade":"A"}
for key in student:
    print(key,":",student[key])

name : Osandha
age : 15
grade : A

In [26]:
for letter in "Hello":
    print(letter)

P
y
t
h
o
n

In [32]:
for letter in "Python":
    print(letter,end=" ")

P y t h o n

# While loop

In [34]:
i=0
while i<10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [39]:
password=""
while password != "python123":
    password=input("Enter your password: ")
print("Access granted")

Enter your password:  python
Enter your password:  hello
Enter your password:  python123

Access granted

In [36]:
while True:
    command=input("Enter 'exit' to quit: ")
    if command=="exit":
        break

Enter 'exit' to quit:  no
Enter 'exit' to quit:  yes
Enter 'exit' to quit:  exit

In [42]:
battery= 10
while battery>0:
    print("Battery level: ",battery)
    battery-=1
print("Battery empty")

Battery level:  10
Battery level:  9
Battery level:  8
Battery level:  7
Battery level:  6
Battery level:  5
Battery level:  4
Battery level:  3
Battery level:  2
Battery level:  1
Battery empty

In [41]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [44]:
age=-1
while age<0:
    age=int(input("Enter your age: "))
print("Thank you")

Enter your age:  -2
Enter your age:  15

Thank you

In [46]:
choice=""
while choice!="3":
    print("1.Add\n2.View\n3.Exit")
    choice=input("Choose an option:")
print("Thanks")

1.Add
2.View
3.Exit

Choose an option: 3

Thanks

In [47]:
for i in range(1,4):
    for j in range(i):
        print("*",end="")
    print()

*
**
***

In [54]:
fname=input("Enter your first name: ")
sname=input("Enter your second name: ")
age=int(input("Enter your age: "))
print(f" My name is {fname} {sname},I am {age} years old")

Enter your first name:  Osandha
Enter your second name:  Siriwardena
Enter your age:  15

 My name is Osandha Siriwardena,I am 15 years old

In [56]:
Name="Hello Sri Lanka"
print(Name[0])
print(Name[-7])
print(Name[2],Name[10])

H
i
l L